*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    
    
   
  }
.foot{
    background-color: hsla(0,0%,75.3%,.26);
    
}


.footer{
    /* display: flex; */
    justify-content: space-evenly;
    padding: 58px 0;
    
   
}
.content{
    display: inline-table;
    margin: 20px;
    padding: 5px 14px;
    /* border: 1px solid red; */
    
    
    
}

.break{
    margin: 0 10%;
}

.subContent{
    color: #696b79;
    font-size: small;
    margin-top: 10px;
}

.category{
    font-size: 14px;
    padding: 2% 10% 5%;
    color: #696b79;

}

